<a href="https://colab.research.google.com/github/marcosdaniel0616/Curso-de-Python---Geek-university/blob/master/any_e_all.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Any e All

## all() -> Retorna True se todos os elementos do iterável são verdadeiros ou ainda se o iterável está vazio.

## Any() -> Retorna True se qualquer elemento do iterável for verdadeiro. Se o iterável estiver vazio, retorna False.

## Exemplo all():

In [ ]:
print(all([0, 1, 2, 3, 4]))

False

Todos os números são verdadeiros?  
devemos lembrar da aula de valores booleanos que o número 0 é false.

In [ ]:
print(all([1, 2, 3, 4]))

Dessa vez foi True pois todos os elementos são verdadeiros.

In [ ]:
print(all([]))

True

Novamente foi True pois como vimos que se o iterável estiver vazio é igual a True.

## Também podemos utilizar o all() de outra forma:

In [ ]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina']

print(all([nome[0] == 'C' for nome in nomes]))

True

O resultado deu correto pois todos os nomes começam com C mas se acrescentarmos algum nome que não começa com C dará False:

In [ ]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Daniel']

print(all([nome[0] == 'C' for nome in nomes]))

False

Vamos ver outro exemplo:

In [3]:
print(all([letra for letra in 'eio' if letra in 'aeiou']))

True

### OBS: Um iterável vazio convertido em boolean é False, mas o all() entende como True

## Ultimo exemplo all():

In [4]:
print(all([num for num in [4, 2, 10, 6, 8] if num % 2 == 0]))

True

## Exemplo Any():

In [6]:
print(any([0, 1, 2, 3, 4]))

True

É retornado True pois o any() só precisa que um dos elementos seja True.

In [7]:
print(any([0, {}, [], False, ()]))

False

É retornado o False pois todos os elementos são False.

In [8]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina']

print(any([nome[0] == 'C' for nome in nomes]))

True

Como já vimos, todos os nomes começam com 'C', logo, é True.

In [11]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Daniel']

print(any([nome[0] == 'C' for nome in nomes]))

True

Nesse caso mesmo com o nome Daniel não começando com 'C' é retornado True, pois como já vimos, só precisamos que qualquer 1 dos elementos seja True, para que retornemos True.