<a href="https://colab.research.google.com/github/marcosdaniel0616/Curso-de-Python---Geek-university/blob/master/dictionary_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary Comprehension

Pense no seguinte:

Se quisermos criar uma lista fazemos:

lista = [1, 2, 3, 4]

se quisermos criar uma tupla:

tupla = (1, 2, 3, 4) ou 1, 2, 3, 4

se quisermos criar um set (conjunto):

conjunto = {1, 2, 3, 4}

se quisermos criar um dicionário:

dicionario = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

## sintaxy:

{chave: valor for valor in iteravel}

## Exemplos:

In [3]:
numeros = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

quadrado = {chave:valor ** 2 for chave, valor in numeros.items()}

print(quadrado)

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

Agora vamos fazer isso só que com uma lista:

In [7]:
numeros = [1, 2, 3, 4, 5]

quadrados = {valor: valor ** 2 for valor in numeros}

print(quadrados)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

O daora é que funciona da mesma forma se for uma tupla e com set:

In [8]:
numeros = (1, 2, 3, 4, 5)

quadrados = {valor: valor ** 2 for valor in numeros}

print(quadrados)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [9]:
numeros = {1, 2, 3, 4, 5}

quadrados = {valor: valor ** 2 for valor in numeros}

print(quadrados)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Ps: Vale lembrar que não temos repetições de chave, então veja o que aconteceria se repetíssemos uma:

In [10]:
numeros = [1, 2, 3, 4, 5, 2]

quadrados = {valor: valor ** 2 for valor in numeros}

print(quadrados)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Essa chave repetida é simplesmente ignorada!

## Outros exemplos:

In [16]:
chaves = 'abcded'
valores = [1, 2, 3, 4, 5]

mistura = {chaves[i]: valores[i] for i in range(0, len(valores))}
print(mistura)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

## Exemplo com lógica condicional:

In [19]:
numeros = [1, 2, 3, 4 ,5]

resultado = {numero: ('par' if numero % 2 == 0 else 'impar') for numero in numeros}

print(resultado)

{1: 'impar', 2: 'par', 3: 'impar', 4: 'par', 5: 'impar'}