<a href="https://colab.research.google.com/github/marcosdaniel0616/Curso-de-Python---Geek-university/blob/master/filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filter

```filter()``` -> serve para filtrar dados de uma determinada coleção.

Agora imagine que temos uma coleção de valores e queremos filtrar somente os dados que estão acima da média desses valores.  
Ex:

In [ ]:
valores = 1, 2, 3, 4, 5, 6

media = sum(valores) / len(valores)

print(media)

3.5

Como podemos ver a média foi 3.5, então nós queremos pegar os números 4, 5 e 6 que são os números acima dessa média.  
Também vamos utilizar algumas bibliotecas para nos auxiliar, nesse caso a biblioteca ```statistics```.

Biblioteca para trabalhar com dados estatísticos

In [ ]:
import statistics

dados = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]

Pronto agora já importamos a biblioteca ```statistics``` e definimos os grupos de dados que usaremos para pegar a média, vamos utilizar uma função chamada ```mean``` da biblioteca ```statistics``` para pegar a média dos valores.

In [ ]:
import statistics

dados = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]

media = statistics.mean(dados)
print(media)

2.183333333333333

Veja que dessa forma nós também conseguimos pegar a média mas dessa vez de uma maneira mais simples.  
Agora utilizaremos o ```filter``` para pegar os dados que estão acima da média.

### OBS: Assim como a função ```map()```, a ```filter()``` recebe dois parâmetros, sendo eles: uma função e um iterável.

In [ ]:
import statistics

dados = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]

media = statistics.mean(dados)

resultado = filter(lambda dado: dado > media, dados)
print(f'A média é {media}')
print(f'Os valores maior que a média são: {list(resultado)}')

A média é 2.183333333333333
Os valores maior que a média são: [2.7, 4.1, 4.3]

### OBS: Devemos lembrar que, assim como na função ```map()```, após serem utilizados os dados de ```filter()``` eles são excluídos da memória.

In [ ]:
import statistics

dados = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]

media = statistics.mean(dados)

resultado = filter(lambda dado: dado > media, dados)

print(type(resultado))

<class 'filter'>

Como podemos ver, o tipo de dado do filter é um filter object!

Uma outra utilização do ```filter()``` é a remoção de dados faltantes.  
## Exemplo 1:

In [ ]:
paises = ['', 'Argentina', '', 'Brasil', 'Chile', '', 'Colômbia', '', 'Equador',
          '', '', 'Venezuela']
          
print(paises)

['', 'Argentina', '', 'Brasil', 'Chile', '', 'Colômbia', '', 'Equador', '', '', 'Venezuela']

Como podemos ver, existem alguns países sem valores, ou seja, alguns dados na lista que estão sem valor e não é muito interessante fazer nenhum tipo de processamento de dados com esses dados faltantes pois irá distorcer o resultado final, então utilizamos filtros para removê-los.

In [ ]:
paises = ['', 'Argentina', '', 'Brasil', 'Chile', '', 'Colômbia', '', 'Equador',
          '', '', 'Venezuela']

resultado = filter(None, paises)

print(list(resultado))

['Argentina', 'Brasil', 'Chile', 'Colômbia', 'Equador', 'Venezuela']

Veja que fácil! :D  
De uma forma simples e fácil nós filtramos os países, removendo aqueles que estavam vazios.

Dessa forma é fácil e já resolve o problema mas vamos tentar remover com ```lambda``` para ver outra forma?
## Exemplo 2:

In [ ]:
paises = ['', 'Argentina', '', 'Brasil', 'Chile', '', 'Colômbia', '', 'Equador',
          '', '', 'Venezuela']

resultado = filter(lambda pais: len(pais) > 0, paises)

print(list(resultado))

['Argentina', 'Brasil', 'Chile', 'Colômbia', 'Equador', 'Venezuela']

Ambos funcionaram, mas o de cima é mais como dá pra perceber o exemplo de cima é mais simples e limpo.

### OBS: Temos que tomar cuidado pois caso estivermos fazendo uma operação Booleana o ```0``` será considerado ```False```.

## Diferença entre ```map``` e o ```filter```
a diferença entre eles é:  
map() -> recebe dois parâmetros, uma função e um iterável e retorna um objeto mapeando a função para cada objeto do iterável.  
  
filter() -> recebe dois parâmetros, uma função e um iterável e retorna um objeto filtrando apenas os elementos de acordo com a função.

## Exemplo mais complexo:

Suponhamos que agora estamos em uma entrevista de emprego e eles nos passaram uma base de dados:

In [ ]:
usuarios = [ {'username': 'Samuel','tweets': ['Eu adoro bolos', 'Eu adoro pizzas']},
            {'username': 'Carla','tweets': ['Eu amo meu gato']},
            {'username': 'Jeff','tweets': []},
            {'username': 'Bob123','tweets': []},
            {'username': 'doggo','tweets': ['Eu gosto de cachorros', 'Vou sair hoje']},
            {'username': 'gal','tweets': []}
            ]

[{'username': 'Samuel', 'tweets': ['Eu adoro bolos', 'Eu adoro pizzas']}, {'username': 'Carla', 'tweets': ['Eu amo meu gato']}, {'username': 'Jeff', 'tweets': []}, {'username': 'Bob123', 'tweets': []}, {'username': 'doggo', 'tweets': ['Eu gosto de cachorros', 'Vou sair hoje']}, {'username': 'gal', 'tweets': []}]

E qual o nosso objetivo? Nosso objetivo é filtrar os usuários inativos. Vamos ver como fazer isso:

## Forma 1

In [ ]:
usuarios = [ {'username': 'Samuel','tweets': ['Eu adoro bolos', 'Eu adoro pizzas']},
            {'username': 'Carla','tweets': ['Eu amo meu gato']},
            {'username': 'Jeff','tweets': []},
            {'username': 'Bob123','tweets': []},
            {'username': 'doggo','tweets': ['Eu gosto de cachorros', 'Vou sair hoje']},
            {'username': 'gal','tweets': []}
            ]

inativos = filter(lambda usuario: len(usuario['tweets']) == 0, usuarios )

print(list(inativos))

[{'username': 'Jeff', 'tweets': []}, {'username': 'Bob123', 'tweets': []}, {'username': 'gal', 'tweets': []}]

## Forma 2

In [ ]:
usuarios = [ {'username': 'Samuel','tweets': ['Eu adoro bolos', 'Eu adoro pizzas']},
            {'username': 'Carla','tweets': ['Eu amo meu gato']},
            {'username': 'Jeff','tweets': []},
            {'username': 'Bob123','tweets': []},
            {'username': 'doggo','tweets': ['Eu gosto de cachorros', 'Vou sair hoje']},
            {'username': 'gal','tweets': []}
            ]

inativos = filter(lambda usuario: not usuario['tweets'], usuarios )

print(list(inativos))

[{'username': 'Jeff', 'tweets': []}, {'username': 'Bob123', 'tweets': []}, {'username': 'gal', 'tweets': []}]

## Combinar ```filter()``` e ```map()```:

In [ ]:
nomes = ['Vanessa', 'Ana', 'Maria']

Nosso objetivo é criar uma lista contendo 'Sua instrutora é ' + nome.  
Desde que cada nome tenha menos de 5 caracteres.

In [ ]:
nomes = ['Vanessa', 'Ana', 'Maria']

lista = list(map(lambda nome: f'Sua instrutora é {nome}', filter(lambda nome: len(nome) < 5, nomes)))

print(lista)

['Sua instrutora é Ana']

Foi mostrado apenas o nome Ana já que é o nome com menos de 5 caracteres.