<a href="https://colab.research.google.com/github/marcosdaniel0616/Curso-de-Python---Geek-university/blob/master/list_comprehension_p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension
  
- utilizando list comprehension nós podemos gerar novas listas com dados processados a partir de outro iterável

## Sintaxe da List Comprehension:  
```[dado for dado in iteravel]```

## Exemplos:

In [14]:
numeros = [1, 2, 3, 4, 5]

resultado = [numero * 10 for numero in numeros]

print(resultado)

[10, 20, 30, 40, 50]

note que o: ```[dado for dado in iteravel]``` tem a mesma estrutura de: ```[numero * 10 for numero in numeros]```

Para entender melhor o que está acontecendo devemos dividir a expressão em duas partes.  
  
- A primeira parte: ```for numero in numeros```,
- E a segunda parte: ```numero * 10```.  
  
A segunda parte vem antes e ela se refere ao resultado que a list comprehension retornará, já a primeira parte, vem depois e se refere a lógica.  
O resultado será retornado em uma lista.

## Outro exemplo:

In [15]:
numeros = [1, 2, 3, 4, 5]

resultado = [numero / 2 for numero in numeros]

print(resultado)

[0.5, 1.0, 1.5, 2.0, 2.5]

## Agora exemplo do list comprehension com uma função:

In [17]:
numeros = [1, 2, 3, 4, 5]

def quadrado(valor):
  return valor * valor


resultado = [quadrado(numero) for numero in numeros]

print(resultado)

[1, 4, 9, 16, 25]

agora vamos separar por partes novamente, a primeira parte é a lógica:  
```for numero in numeros``` ou seja, executaremos a primeira parte tantas vezes quanto a quantidade de numeros na função numeros.  
a segunda parte é o resultado: ```quadrado(numero)``` já nessa parte, é executada a função quadrado, passando como argumento os números de acordo com a ordem.

## List Comprehension vs Loop

### Loop:

In [21]:
numeros = [1, 2, 3, 4, 5]

numeros_dobrados = []
for numero in numeros:
  numeros_dobrados.append(numero * 2)


print(numeros_dobrados)

[2, 4, 6, 8, 10]

### List Comprehension

In [22]:
numeros = [1, 2, 3, 4, 5]

print([numero * 2 for numero in numeros])

[2, 4, 6, 8, 10]

## Ou refatorando esses dois códigos

### Loop:

In [23]:
numeros_dobrados = []
for numero in [1, 2, 3, 4, 5]:
  numeros_dobrados.append(numero * 2)


print(numeros_dobrados)

[2, 4, 6, 8, 10]

### List Comprehension:

In [24]:
print([numero * 2 for numero in [1, 2, 3, 4, 5]])

[2, 4, 6, 8, 10]

## Outros exemplos:
## Exemplo 1:

In [25]:
nome = 'Geek University'

print([letra.upper() for letra in nome])

['G', 'E', 'E', 'K', ' ', 'U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'T', 'Y']

In [41]:
nome = 'Geek university'

for indice, letra in enumerate(nome):
  print(f'{indice}: {letra.upper()}')

0: G
1: E
2: E
3: K
4:
5: U
6: N
7: I
8: V
9: E
10: R
11: S
12: I
13: T
14: Y

Mostrando letra e índice.

In [50]:
nome = 'Geek university'

print([(indice, letra.upper()) for indice, letra in enumerate(nome)])

[(0, 'G'), (1, 'E'), (2, 'E'), (3, 'K'), (4, ' '), (5, 'U'), (6, 'N'), (7, 'I'), (8, 'V'), (9, 'E'), (10, 'R'), (11, 'S'), (12, 'I'), (13, 'T'), (14, 'Y')]

ao mostrar mais de um argumento no list comprehension utilizamos o parênteses ().

## Exemplo 2

In [57]:
amigos = ['maria', 'julia', 'pedro', 'guilherme', 'vanessa']

def caixa_alta(nome):
  nome = nome.replace(nome[0], nome[0].upper())
  return nome

print([caixa_alta(amigo) for amigo in amigos])

['Maria', 'Julia', 'Pedro', 'Guilherme', 'Vanessa']

## Exemplo 3

In [60]:
print([numero * 3 for numero in range(1, 10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

## Exemplo 4

In [62]:
print([bool(valor) for valor in [0, [], '', True, 1, 3.14]])

[False, False, False, True, True, True]

## Exemplo 5

In [63]:
print([str(numero) for numero in [1, 2, 3, 4, 5]])

['1', '2', '3', '4', '5']