<a href="https://colab.research.google.com/github/marcosdaniel0616/Curso-de-Python---Geek-university/blob/master/min_e_max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Min e Max

## max() -> Retorna o maior valor em um iterável ou o maior valor de dois ou mais elementos

## Exemplos:

In [ ]:
lista = [1, 8, 4, 99, 34, 129]

print(max(lista))

129

### Isso funciona para qualquer tipo de iterável

In [ ]:
lista = [1, 8, 4, 99, 34, 129]

tupla = (1, 8, 4, 99, 34, 129)

conjunto = {1, 8, 4, 99, 34, 129}

dicionario = {'a': 1, 'b': 8, 'c': 4, 'd': 99, 'e': 34, 'f': 129}

print(max(lista))
print(max(tupla))
print(max(conjunto))
print(max(dicionario))
print(max(dicionario.values()))

129
129
129
f
129

## Faça um programa que receba dois valores do usuário e imprima o maior:

In [ ]:
valor1 = int(input('Informe o primeiro valor: '))
valor2 = int(input('Informe o segundo valor: '))

print(max(valor1, valor2))

Informe o primeiro valor: 30
Informe o segundo valor: 2
30

## min() -> Retorna o menor valor em um iterável ou o menor de dois ou mais elementos

## Exemplos:

In [ ]:
lista = [1, 8, 4, 99, 34, 129]

print(min(lista))

1

### Isso funciona para qualquer tipo de iterável

In [ ]:
lista = [1, 8, 4, 99, 34, 129]

tupla = (1, 8, 4, 99, 34, 129)

conjunto = {1, 8, 4, 99, 34, 129}

dicionario = {'a': 1, 'b': 8, 'c': 4, 'd': 99, 'e': 34, 'f': 129}

print(min(lista))
print(min(tupla))
print(min(conjunto))
print(min(dicionario))
print(min(dicionario.values()))

1
1
1
a
1

## Faça um programa que receba dois valores do usuário e imprima o menor:

In [ ]:
valor1 = int(input('Informe o primeiro valor: '))
valor2 = int(input('Informe o segundo valor: '))

print(min(valor1, valor2))

Informe o primeiro valor: 40
Informe o segundo valor: 20
20

## Outros exemplos:

In [ ]:
nomes = ['Arya', 'Samson', 'Dora', 'Tim', 'Ollivander']

print(max(nomes))

print(min(nomes))

Tim
Arya

Por que os resultados foram esses em vez dos nomes com mais caracteres?  
O min e o max pegam os valores que vem antes na ordem alfabética, nesse caso o T de Tim e o A de Arya

### E como mostrar baseado no tamanho?

In [ ]:
nomes = ['Arya', 'Samson', 'Dora', 'Tim', 'Ollivander']

print(max(nomes, key=lambda nome: len(nome)))

print(min(nomes, key=lambda nome: len(nome)))

Ollivander
Tim

Agora sim, o resultado foi Tim e Ollivander!

## Outros exemplos:

In [ ]:
musicas = [
           {'titulo': 'Thunderstruck', 'tocou': 3},
           {'titulo': 'Dead skin mask', 'tocou': 2},
           {'titulo': 'Back in black', 'tocou': 4},
           {'titulo': 'too old rock in roll', 'tocou': 32},
]

print(max(musicas, key=lambda musica: musica['tocou']))
print(min(musicas, key=lambda musica: musica['tocou']))

{'titulo': 'too old rock in roll', 'tocou': 32}
{'titulo': 'Dead skin mask', 'tocou': 2}

Lembre-se que sem o key dará erro, pois o min e o max não saberão o que precisão fazer.

## DESAFIO: Imprima somente o título da música mais e menos tocada:

In [ ]:
musicas = [
           {'titulo': 'Thunderstruck', 'tocou': 3},
           {'titulo': 'Dead skin mask', 'tocou': 2},
           {'titulo': 'Back in black', 'tocou': 4},
           {'titulo': 'too old rock in roll', 'tocou': 32},
]

print(max(musicas, key=lambda musica: musica['tocou'])['titulo'])
print(min(musicas, key=lambda musica: musica['tocou'])['titulo'])

too old rock in roll
Dead skin mask

Não consegui :(

## Desafio 2!! Como fazer mesmo desafio anterior mas sem usar o max e nem o min?

In [17]:
musicas = [
           {'titulo': 'Thunderstruck', 'tocou': 3},
           {'titulo': 'Dead skin mask', 'tocou': 2},
           {'titulo': 'Back in black', 'tocou': 4},
           {'titulo': 'too old rock in roll', 'tocou': 32},
]

min = 0
max = 0
musica_min = ''
musica_max = ''

for indice, musica in enumerate(musicas):
  if indice == 0:
    min = musica['tocou']
    max = musica['tocou']
    musica_min = musica
    musica_max = musica
  if musica['tocou'] < min:
    musica_min = musica
  if musica['tocou'] > max:
    musica_max = musica

print(f'menos tocou: {musica_min}')
print(f'mais tocou: {musica_max}')

menos tocou: {'titulo': 'Dead skin mask', 'tocou': 2}
mais tocou: {'titulo': 'too old rock in roll', 'tocou': 32}