<a href="https://colab.research.google.com/github/marcosdaniel0616/Curso-de-Python---Geek-university/blob/master/reversed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reversed

OBS: Não confunca com a função reverse que nós estudamos nas listas.

- A função reverse() só funciona nas listas, já a reversed funciona em qualquer iterável.

Sua função é inverter o iterável.
  
A função reversed() retorna um iterável chamado List Reverse Iterator

## Exemplos:

In [2]:
lista = [1, 2, 3, 4, 5]

res = reversed(lista)

print(res)
print(type(res))

<list_reverseiterator object at 0x7f9d1f86c850>
<class 'list_reverseiterator'>

## Podemos converter o elemento retornado para uma lista, tupla ou conjunto.

### Lista

In [4]:
lista = [1, 2, 3, 4, 5]

print(list(reversed(lista)))

[5, 4, 3, 2, 1]

### Tupla

In [5]:
lista = [1, 2, 3, 4, 5]


print(tuple(reversed(lista)))

(5, 4, 3, 2, 1)

### Conjunto (set)

In [6]:
lista = [1, 2, 3, 4, 5]

print(set(reversed(lista)))

{1, 2, 3, 4, 5}

## Por que o set não voltou invertido?
## Como aprendemos na aula sobre o set, esse iterável não é ordenável.

## Podemos iterar sobre o reversed:

In [7]:
for letra in reversed('Geek University'):
  print(letra, end='')

ytisrevinU keeG

## Podemos fazer o mesmo sem o uso do for:

In [8]:
print(''.join((list(reversed('Geek University')))))

ytisrevinU keeG

## Também já vimos como fazer isso mais facilmente com o slice de strings:

In [9]:
print('Geek University'[::-1])

ytisrevinU keeG

## Podemos também utilizar o reversed() para fazer um loop for reverso:

In [11]:
for n in reversed(range(0, 11)):
  print(n)

10
9
8
7
6
5
4
3
2
1
0

## Apesar de que já vimos como fazer isso utilizando o próprio range():

In [14]:
for n in range(10, -1, -1):
  print(n)

10
9
8
7
6
5
4
3
2
1
0